@model List<Student>

<h3>Student in Department</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.User.Name</td>
            <td>@item.User.Image</td>
            <td> <a href="/Student/ShowOneStudent/@item.Id" class="btn btn-primary">Show info</a></td>
        </tr>
    }
</table>